.headroom {
    top: 0;
    left: 0;
    right: 0;
    zIndex: 1;
    background:#ffffff;
}

.headroom--unfixed {
    position: relative;
    transform: translateY(0);
}

.headroom--scrolled {
    transition: transform 200ms ease-in-out;
}

.headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
}

.headroom--pinned {
    position: fixed;
    transform: translateY(0%);
}




/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

*/